# What is DataType:

Ans-.In Python, a data type is a classification that specifies the type of value a variable can hold.
 .Datatypes help the computer understand how to store and process the data correctly.
.Datatypes are just labels that make sure the computer knows what kind of information itâ€™s handling

In [2]:
# Example For Integer
a = 10
b = 6 + 2
c = 10 - 7
d = 7 * 4
e = 40 // 4
f = 30 % 3
g = int("123")
h = 60
age = 20
print(a, b, c, d, e, f, g, h, age)

10 8 3 28 10 0 123 60 20

In [6]:
# Examples For Float
a = 30.5
b = 6.2 + 3.8
e = 3.5 * 2
f = 10 / 2
g = 4.14 * 2
h = round(75.78, 2)
i = float(10)
j = 9.81
numbers = [1.1, 2.2, 3.3]
print(a,b,c,d,e,f,g,h,i,j,numbers)

30.5 10.0 (-2+10j) 28 7.0 5.0 8.28 75.78 10.0 9.81 [1.1, 2.2, 3.3]

In [9]:
# Examples For Complex
a = 1 + 3j
b = (1 + 5j) + (1 + 6j)
c = (2 + 3j) * (1 + 1j)
d = a.real
e = a.imag
f = 4 + 5j
g = (3 + 6j) / (2 + 5j)
print(a,b,c,d,e,f,g)

(1+3j) (2+11j) (-1+5j) 1.0 3.0 (4+5j) (1.2413793103448276-0.10344827586206891j)

In [18]:
#Examples For Boolean
a = True
b = 5 > 6
c = (10 == 10)
d = (10 != 5)
e = True and False #using AND logical operator
f = True or False  #using OR operator
g = not True
h = bool(1)  # Non-zero numbers are True
i = bool("")  # Empty string is False
print(a,b,c,d,e,f,g,h,i)

True False True True False True False True False

# Type Converssion in Python:

Ans-Type conversion in Python refers to the process of converting one data type into another.

As likes

In [31]:
#1.Convert int to float
x = 130
y = float(x)
print(y, type(y))

130.0 <class 'float'>

In [34]:
#2.Convert float to int
a = 10.50
b = int(a)
print(b, type(b))

10 <class 'int'>

In [36]:
#3.Convert int to complex
x = 56
y = complex(x)
print(y, type(y))

(56+0j) <class 'complex'>

In [37]:
#4.Positive Float to Boolean
x = 67.14
y = bool(x)
print(y, type(y))

True <class 'bool'>