# Set( ):

.Unordered Collection â€“ Elements in a set have no specific order.

.Duplicate values are automatically removed.

.You can add or remove elements, but individual elements are immutable.

.Represented Using {} and separated by " , ".

In [2]:
a = {2,4,6,8,10,12,14,}
print(a)
print(type(a))

{2, 4, 6, 8, 10, 12, 14}
<class 'set'>

## We can convert a list into a set using the set() function.

In [3]:
a = set([2,4,6,8,10,12])
print(a)
print(type(a))

{2, 4, 6, 8, 10, 12}
<class 'set'>

# Duplicates are automatically removed in the set.

In [4]:
a = {1,2,3,4,5,3,2,5,7,4,3,4,5,}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 7}
<class 'set'>

# Set Methods:

## 1.add():

Adds an element to the set.

In [5]:
a = {2,4,6,8,}
a.add(10)
print(a)

{2, 4, 6, 8, 10}

## 2.remove( ):

Removes the specified element.
raises an error if not found.

In [7]:
a = {2,4,6,8,}
a.remove(8)
print(a)

{2, 4, 6}

# 3.update( ):

used to add multiple elements from another set, list, tuple, or any iterable to an existing set.

In [8]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

4.clear( ):
Used to remove all elements from a set, making it an empty set.

In [9]:
a.clear()
print(a)

set()

# Set Operators:

## 1.union( ):

.The union() method combines two or more sets.

.Returning a new set with all unique elements

In [10]:
#union

a = {2,4,6,8,10}
b = {12,14,16,18}
a.union(b)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [11]:
a = {2,4,6,8,10}
b = {12,14,16,18}
a|b

{2, 4, 6, 8, 10, 12, 14, 16, 18}

# 2.Intersection():

.Returns a new set containing only the common elements of two or more sets.

.The result contains only unique elements that exist in all sets.

In [38]:
#Intersection

a = {1,2,3,4,5}
b = {5,6,7,8}
a.intersection(b)

{5}

In [39]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a&b

{4, 5}

## 3.Difference of ('A-B'):

.Returns a new set containing elements that are in set A but not in set B.

In [2]:
#A-B
a = {2,4,6,8,10,12,}
b = {8,10,12,14}
a-b

{2, 4, 6}

## 4.Difference of ('B-A'):

Returns a new set containing elements that are in set B but not in set A

In [3]:
#B-A
a = {2,4,6,8,10,12,}
b = {8,10,12,14}
b-a

{14}

## 5.Symmetric_difference( ):

.Returns a new set containing elements that are in either set A or set B, but not in both.

.You can use the ^ (caret) operator.

.It returns a new set instead of modifying existing ones.

.The result contains only unique elements.

In [4]:
#Symmetric_Difference

a = {2,4,6,8,10}
b = {6,8,10,12,14}
result = a.symmetric_difference(b)
print(result)

{2, 4, 12, 14}

In [5]:
a = {2,4,6,8,10}
b = {6,8,10,12,14}
a^b

{2, 4, 12, 14}