#2.String( ) :

A string is a sequence of characters.
Enclosed in single quotes (' '), double quotes (" "), or triple quotes (''' ''') for multi-line text.

In [2]:
a ='my name is chitranjan '
print(a)

b = "my name is chitranjan"
print(b)

c = '''my name is chitranjan'''
print(c)

my name is chitranjan
my name is chitranjan
my name is chitranjan

# Indexing( ) :

Indexing in Python strings allows you to access individual characters using their position.
There are two types of indexing : positive and negative indexing.

In [6]:
a = 'Hello'
a[4]

'o'

In [8]:
a='chitranjan'
a[-3]

'j'

In [9]:
a='chitranjan'
a[-5]

'a'

In [10]:
a='chitranjan'
a[-7]

't'

# Slicing( ) :

Slicing is used to extract a portion (substring) of a string.

In [12]:
a='chitranjan'
a[5:]

'anjan'

In [20]:
a='chitranjan'
a[:6]

'chitra'

In [21]:
a='chitranjan'
a[4:6]

'ra'

In [37]:

#[Start:End:Stepsize]
#Skip the values based on the stepsize
a = 'CHITRANJAN'
a[0:8:2]

'CIRN'

In [44]:
a = 'CHITRANJAN'
a[-6:-2]

'RANJ'

# String Format:

1.formet method


.The format() method allows inserting variables into a string using {} placeholders, supporting both positional and named arguments.
.it provides advanced formatting options like alignment, padding, and number formatting (e.g., {:.2f} for two decimal places).

In [45]:
name = 'chitranjan'
age = '22'
print('My name is {} and My age is {} year old'.format(name,age))

My name is chitranjan and My age is 22 year old

In [1]:
name = 'j.j'
place = 'ara'
print('{} college is {}'.format(name,place))

j.j college is ara

(2) **f.string method**

f-strings let you insert variables directly into a string using {}.
They are faster than .format() formatting because they are evaluated at runtime directly.

In [3]:
name = 'chitranjan'
age = '22'
print(f'My name is {name} and My age is {age} year old')

My name is chitranjan and My age is 22 year old

In [5]:
name = 'j.j'
place = 'ara'
print(f'{name} college is is {place}')

j.j college is is ara

(**3) concatination:**

.Joining two or more strings using the + operator.
.using += allows adding strings to an existing string.

In [7]:
a = 'hello'
b = 'chitranjan'
print(a+" "+b)

hello chitranjan

In [8]:
a = 'hello'
a += 'chitranjan'
print(a)

hellochitranjan

In [9]:
a = 'hello'
b = 'chitranjan'
print(a+b)

hellochitranjan

(4) Repetition( ):

.Repeating a string multiple times using the * operator.
.It is useful for creating patterns or repeating characters easily.

In [11]:
a = "Booking start at 9:00 PM"
a * 7

'Booking start at 9:00 PMBooking start at 9:00 PMBooking start at 9:00 PMBooking start at 9:00 PMBooking start at 9:00 PMBooking start at 9:00 PMBooking start at 9:00 PM'

In [12]:
print("a" * 3)

aaa

# String Methods:

**1.len( ):**

Returns the number of characters in a string, including spaces.
It helps in finding the length of a string for loops, validations, and processing.

In [18]:
a = "my name is chitranjan"
len(a)

21

**2. upper( ):**

.Converts all letters in a string to uppercase.
.It does not change the original string; it returns a new uppercase version.

In [19]:
a = "my name is chitranjan"
a.upper()

'MY NAME IS CHITRANJAN'

In [20]:

print("my name is chitranjan".upper())

MY NAME IS CHITRANJAN

**3.lower( ) :**

Converts all letters in a string to lowercase.
It does not modify the original string but returns a new lowercase version.

In [21]:
a = "MY NAME IS CHITRANJAN"
a.lower()

'my name is chitranjan'

In [22]:
print("MY NAME CHITRANJAN".lower())

my name chitranjan

**4.count( ):**

Counts how many times a specific substring appears in a string.
It is case-sensitive, ["Hello".count("h") and "Hello".count("H") give different results].

In [23]:
a = "hello hello hello"
a.count('h')

3

In [25]:
print("MY NAME IS CHITRANJAN".count('C'))

1

**5.split( ):**

. Breaks a string into a list of words based on a separator (default is space).
. It helps in processing sentences by dividing them into smaller parts.

In [26]:
a = "MY NAME IS CHITRANJAN"
a.split()

['MY', 'NAME', 'IS', 'CHITRANJAN']

In [27]:
print("MY NAME IS CHITRANJAN".split())

['MY', 'NAME', 'IS', 'CHITRANJAN']

**6.trip( ):**

Removes spaces (or specified characters) from the beginning and end of a string.
It does not change the original string but returns a new trimmed version.

In [28]:
a = "MY NAME IS CHITRANJAN"
a.strip()

'MY NAME IS CHITRANJAN'

In [31]:
print("  MY NAME IS CHITRANJAN  ".strip())

MY NAME IS CHITRANJAN

**7.center( )**:

The center(width, fillchar) method in Python returns a new string that is centered within the given width, using the specified fill character (default is a space).

In [34]:
a = "hello"
print(a.center(9, "_"))

__hello__

# 8.endswith( ):

.string ends with the specified suffix and returns True or False.
.It can also check within a specific range using optional start and end parameters.

In [35]:
a = "hello world"
print(a.endswith("world"))

True

In [36]:
print("hello world".endswith("d"))

True

# 9.expandtabs():

Replaces tab characters (\t) in a string with spaces.
The tabsize parameter (default is 8) specifies the number of spaces per tab.

In [39]:
a = "Hello\tWorld"
print(a.expandtabs(4))

Hello   World

In [40]:
print("Hello\tWorld".expandtabs(4))

Hello   World

10.find( ):

Returns the lowest index of the specified substring within the string.
If the substring is not found, it returns -1.

In [41]:
a = "hello world"
print(a.find("world"))

6

In [42]:
print("Hello World".find("Python"))

-1

**11.replace( ):**

.Returns a new string where all occurrences of the old substring are replaced with new.
.Replace(old, new, count) The optional count parameter specifies how many replacements to make

In [43]:

a = "hello world"
print(a.replace("world", "Python"))

hello Python

In [44]:

print("hello world".replace("o","#",3))

hell# w#rld

**12.translate( )**:

Replaces characters in a string based on a translation table created using str.maketrans().

In [45]:
a = str.maketrans("aioue", "12345")
b = "hello world"
print(b.translate(a))

h5ll3 w3rld

In [47]:
print("hello world".translate(str.maketrans("aioue", "12345")))

h5ll3 w3rld