# Dictionary( ):

.A Python dictionary stores data in key-value pairs, where each key is unique, and it maps to a corresponding value.

.A dictionary cannot have duplicate keys; if a duplicate key is assigned a new value, the old value gets overwritten.

.Dictionaries are mutable (we can add, update, or remove key-value pairs after creation).

.Dictionaries are defined using curly braces {} with keys and values separated by colons.

.Dictionaries can contain other dictionaries, allowing the creation of complex data structures.

In [14]:
mydata = {"Name":"chitranjan","Age":22,"City":"ara bihar","DOB":2}
print(type(mydata))
print(mydata)

<class 'dict'>
{'Name': 'chitranjan', 'Age': 22, 'City': 'ara bihar', 'DOB': 2}

# Dictionary Methods:

## 1.pop( ):

Removes the item with the specified key name.

In [15]:
mydata = {"Name":"chitranjan","Age":22,"City":"ara bihar","DOB":2}
mydata.pop("DOB")

2

In [18]:
mydata = {"Name":"chitranjan","Age":22,"City":"ara bihar","dob":2}
mydata.popitem()

('dob', 2)

## 2.update( ):

Updates the dictionary with key-value pairs from another dictionary.

In [19]:
mydata = {"Name":"chitranjan","Age":22,"City":"ara bihar","dob":2}

In [20]:
mydata.update({"Age": 24})
print(mydata)

{'Name': 'chitranjan', 'Age': 24, 'City': 'ara bihar', 'dob': 2}

In [22]:
mydata.update({"mail": "chitrnjan73063@gmail.com"})
print(mydata)

{'Name': 'chitranjan', 'Age': 24, 'City': 'ara bihar', 'dob': 2, 'mail': 'chitrnjan73063@gmail.com'}

## 3.dict.keys():

Returns a view object of all the keys in the dictionary.

In [23]:
mydata = {"Name":"chitranjan","Age":22,"City":"ara bihar","dob":2}
mydata.keys()

dict_keys(['Name', 'Age', 'City', 'dob'])

In [24]:
a = {2:"a",4:"b",5:"c",7:"d"}
a.keys()

dict_keys([2, 4, 5, 7])

## 4.dict.values():

Returns a view object of all the values in the dictionary.

In [25]:
mydata = {"Name":"chitranjan","Age":22,"City":"ara bihar","dob":2}
mydata.values()

dict_values(['chitranjan', 22, 'ara bihar', 2])

In [26]:
a = {2:"a",4:"b",5:"c",7:"d"}
a.values()

dict_values(['a', 'b', 'c', 'd'])

## 5.dict.items( ):

Returns a view object containing key-value pairs as tuples

In [29]:
mydata = {"Name":"chitranjan","Age":22,"City":"ara bihar","dob":2}
mydata.items()

dict_items([('Name', 'chitranjan'), ('Age', 22), ('City', 'ara bihar'), ('dob', 2)])

In [28]:
a = {2:"a",4:"b",5:"c",7:"d"}
a.items()

dict_items([(2, 'a'), (4, 'b'), (5, 'c'), (7, 'd')])

## 6.dict.copy( ):

Returns a shallow copy of the dictionary.

In [30]:
mydata2 = mydata.copy()
print(mydata)
print(mydata2)

{'Name': 'chitranjan', 'Age': 22, 'City': 'ara bihar', 'dob': 2}
{'Name': 'chitranjan', 'Age': 22, 'City': 'ara bihar', 'dob': 2}

In [32]:
b = a.copy()
print(a)
print(b)

{2: 'a', 4: 'b', 5: 'c', 7: 'd'}
{2: 'a', 4: 'b', 5: 'c', 7: 'd'}

## 7.dict.clear( ):

Removes all items from the dictionary.

In [39]:
mydata.clear()
print(mydata)
print(mydata2)

{}
{'Name': 'chitranjan', 'Age': 22, 'City': 'ara bihar', 'dob': 2}